#blank {
  position: absolute;
  top: 42.2%;
  left: 35.1%;
  width: 569px;
  height: 99px;
  color: #b4b3b3;
  text-align: center;
  opacity: 0.2;
  font-size: 32px;
  line-height: .1em;
  user-select: none;
  -webkit-user-select: none;
  font-family: 'Gloria Hallelujah', cursive;
}