<div class="main">
	<div class="instrumentIcon">

	</div>
	<p> Instrument Name</p>
	<div class="slider">
		<div class="dial"><span class="indicator"></span></div>
	</div>
	<div class="sound">
		<span class="track"><span class="handle"></span></span>
	</div>
</div>
<div class="trackInner"></div>